/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Montserrat&family=Pinyon+Script&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Montserrat&family=Pinyon+Script&family=Luxurious+Script&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Courgette&family=Luxurious+Script&family=Montserrat&family=Pinyon+Script&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Mulish:wght@300;400;500;600;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Montserrat&family=Pinyon+Script&display=swap'); */
@font-face {
  font-family: 'DreamCaps';
  src: url('https://static1.squarespace.com/static/56a74ebd1c121044e144939b/t/62bd75be4e1c6a6b5abad11b/1656583615109/DreamCaps.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  background-color: #f5f1eb;

  
  font-family: "Mulish", 'sans-serif';

  .heading {
    /* font-family: 'Cormorant Garamond', serif; */
    /* font-family: 'Pinyon Script', cursive; */
    /* font-family: 'Luxurious Script', cursive; */
    /* font-family: 'Courgette', cursive; */
    font-family: 'DreamCaps', serif;
    letter-spacing: 3px;
    font-size: 46px !important;
    font-weight: 300;
    

  }
  h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Cormorant Garamond', serif; */
    /* font-family: 'Pinyon Script', cursive; */
    /* font-family: 'Luxurious Script', cursive; */
    /* font-family: 'Courgette', cursive; */
    font-family: 'DreamCaps', serif;
    letter-spacing: 2px;
    font-weight: 300;
   

  }
  h1{
    font-size: 30px;
  }
 p {
  color: #787878;
  font-weight: 300;
  font-size: 16px;
 }

  
  
  
}

